@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Oregon Institute of Technology Web Development CSET 356</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Design</h2>

    </div>
    <div class="col-md-4">
        <h2>Develope</h2>

    </div>
    <div class="col-md-4">
        <h2>Deploy</h2>

    </div>
</div>